@page "/delete-customer/{Id:int}"
@using LADCH.DTOs.CustomerDTOs;
@using Microsoft.AspNetCore.Components.Forms;
@using LADCH.AppWebBlazor.Data;

<h3>Eliminar Cliente</h3>
@if (isSuccess == false && isError == false)
{
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="Name">Nombre:</label>
                <input type="text" class="form-control" disabled @bind="customer.Name" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="LastName">Apellido:</label>
                <input type="text" class="form-control" disabled @bind="customer.LastName" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="Address">Dirección:</label>
                <textarea class="form-control" disabled @bind="customer.Address"></textarea>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" @onclick="async () => await Delete()">Eliminar</button>
            <NavLink href="/customer-list" class="btn btn-secondary">Cancelar</NavLink>
        </div>
    </div>
}
else if (isSuccess)
{
    <p class="alert alert-success">Cliente se elimino con exito.</p>
    <NavLink href="/customer-list" class="btn btn-primary">Aceptar</NavLink>
}
else if (isError)
{
    <p class="alert alert-error">Sucedio un error al intentar eliminar.</p>
    <NavLink href="/customer-list" class="btn btn-primary">Aceptar</NavLink>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    CustomerService customerService { get; set; }

    GetIdResultCustomerDTO customer = new GetIdResultCustomerDTO();

    bool isSuccess = false;
    bool isError = false;

    protected override async Task OnInitializedAsync()
    {
        customer = await customerService.GetById(Id);
    }

    private async Task Delete()
    {
        int result = await customerService.Delete(customer.Id);
        if (result != 0)
            isSuccess = true;
        else
            isError = true;
    }
}