@model GetIdResultCustomerDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>
<h3>¿Estás seguro de que deseas eliminar el cliente?</h3>
<div>
    <h4>Cliente</h4>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" disabled class="form-control" />
                <span asp-validate-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" disabled class="form-control" />
                <span asp-validate-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" disabled class="form-control"></textarea>
                <span asp-validate-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <form asp-action="Delete">
        <div class="row-cols-6">
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </form>
</div>