@model GetIdResultCustomerDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>
<h4>Clientes</h4>
<hr />
<form asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validate-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validate-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validate-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="row-cols-6">
        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary">Ir a ver clientes</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}